[Unit]
Description=SCC Daemon

[Service]
Type=simple
ExecStart=/usr/bin/scc-daemon debug --alone
ExecStop=/usr/bin/scc-daemon stop
PIDFile=$CONFIG/daemon.pid
Restart=on-failure

[Install]
WantedBy=graphical-session.target
